@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 24% 4%;
  --foreground: 210 20% 99%;
  --muted: 240 13% 18%;
  --muted-foreground: 240 7% 70%;
  --popover: 247 21% 6%;
  --popover-foreground: 210 20% 99%;
  --card: 245 21% 8%;
  --card-foreground: 210 20% 99%;
  --border: 242 19% 21%;
  --input: 242 19% 21%;
  --primary: 329 84% 63%; /* #ec4899 */
  --primary-pink: 329 84% 63%;
  --primary-fuchsia: 287 76% 60%; /* #d946ef */
  --primary-purple: 266 89% 67%; /* #a855f7 */
  --primary-foreground: 320 100% 98%;
  --secondary: 243 30% 12%;
  --secondary-foreground: 210 20% 99%;
  --accent: 249 42% 18%;
  --accent-foreground: 210 20% 99%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 20% 99%;
  --ring: 329 84% 63%;
  --radius: 2rem;
}

.dark {
  --background: 250 24% 4%;
  --foreground: 210 20% 99%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased;
  }

  a {
    @apply font-semibold text-primary underline-offset-4 transition-colors hover:text-primary-purple;
  }
}
